<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".VjezbaDetail"
            android:exported="false" />
        <activity
            android:name=".VjezbeActivity2"
            android:exported="false" />
        <activity
            android:name=".VjezbeActivity"
            android:exported="false" />
        <activity
            android:name=".proba"
            android:exported="false" />
        <activity
            android:name=".BentoverrowActivity"
            android:exported="false" />
        <activity
            android:name=".SeatedrowActivity"
            android:exported="false" />
        <activity
            android:name=".DeadliftActivity"
            android:exported="false" />
        <activity
            android:name=".LatpulldownActivity"
            android:exported="false" />
        <activity
            android:name=".Latpulldown"
            android:exported="false" />
        <activity
            android:name=".PullupActivity"
            android:exported="false" />
        <activity
            android:name=".CalorieCalcActivity"
            android:exported="false" />
        <activity
            android:name=".BMIcalcActivity"
            android:exported="false" />
        <activity
            android:name=".FullbodyActivity"
            android:exported="false" />
        <activity
            android:name=".LegsActivity"
            android:exported="false" />
        <activity
            android:name=".ArmsActivity"
            android:exported="false" />
        <activity
            android:name=".PecActivity"
            android:exported="false" />
        <activity
            android:name=".BackActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>